@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: "Montserrat", sans-serif;
  }
}

@theme {
  /* Colors */
  
  /* Text sizes */
  
  /* Font weight */
 
  /* Line height */
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: var(--color-main-bg);
  color: var(--color-main-font-color);
}
